altgraph==0.15
asn1crypto==0.24.0
atomicwrites==1.1.5
attrs==17.4.0
Automat==0.6.0
cffi==1.11.5
colorama==0.3.9
constantly==15.1.0
cryptography==2.2.2
cssselect==1.0.3
Django==1.11.4
django-tinymce==2.7.0
easygui==0.96
future==0.16.0
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
lxml==4.2.1
macholib==1.9
more-itertools==4.2.0
parsel==1.4.0
pdfminer3k==1.3.1
pefile==2017.11.5
Pillow==5.1.0
pluggy==0.6.0
ply==3.11
py==1.5.3
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
PyDispatcher==2.0.5
pygame==1.9.3
PyInstaller==3.3.1
pymongo==3.6.1
PyMySQL==0.8.1
pyOpenSSL==17.5.0
pytest==3.6.1
pytz==2018.4
pywin32==221
queuelib==1.5.0
redis==2.10.6
Scrapy==1.5.0
service-identity==17.0.0
six==1.11.0
tornado==4.5.2
Twisted==17.9.0
w3lib==1.19.0
zope.interface==4.5.0
